html, body{
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    font-family: 'merriweather sans', sans-serif;
}
.btn, .btn.inverse:hover{
    color: #2e8b57;
    background-color: #2e8b57;
    border-color: #2e8b57;
}
.btn:hover, .btn.inverse{
    color: inherit;
    background-color:  #e4d729;
    border-color: inherit;
}